In [1]:
import urllib
from urllib.request import urlopen
from urllib.parse import quote
import json
import pandas as pd
import numpy as np

# API 이용한 데이터 수집 과정!

In [6]:
"""
months = []
lines = ['공항철도 1호선', '장항선', '일산선', '과천선', '중앙선', '안산선',
         '수인선', '분당선', '경의선', '경부선', '경춘선', '경인선', '경원선', '9호선2단계', '경강선', '우이신설선']

i="201501"
months.append(i)
"""

In [7]:
"""
while int(i) < 201810:
    if i[4:] == "12":
        i = str(int(i) + 89)
        months.append(i)
    else:
        i = str(int(i) + 1)
        months.append(i)

#라인별
for j in range(9):
    lines.append(str(j+1) + "호선")

"""

In [8]:
"""
subway_list=[]
for i in range(len(months)):
    #라인별 데이터
    for j in range(len(lines)):
        url = "http://openapi.seoul.go.kr:8088/414d63706d70617236364878644b43/json/CardSubwayTime/1/100/" + months[i] + "/" + quote(lines[j])
        request = urllib.request.Request(url)
        response = urllib.request.urlopen(request)
        rescode = response.getcode()

        if(rescode == 200):
            response_body = response.read()
            lists = response_body.decode('utf-8')
            # json 문자열을 dictionary로 변환!
            info_dict = json.loads(lists)
            
            # real_info : 진짜로 필요한 정보를 Series형태로 변환 (dictionary)
            try:
                for k in range(len(info_dict['CardSubwayTime']['row'])):
                    real_info = pd.Series(info_dict['CardSubwayTime']['row'][k])
                    subway_list.append(real_info)
            except:
                print("key가 존재하지 않습니다.")
                
        else:
            print("Error Code:" + rescode)

df = pd.DataFrame(subway_list)
#df.to_csv("subway_info.csv")

"""

key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.
key가 존재하지 않습니다.

# API로 받은 자료 -> csv로 전환 -> pd.read_csv로 불러오고 분석!

In [2]:
subway = pd.read_csv("subway_info.csv")

## columns : line_num(호선 숫자), SUB_STA_NM(역 이름),
## 각 시간 당 RIDE_NUM(승차 인원), ALIGHT_NUM(하차 인원)
## WORK_DT : 데이터 작성 일자!

In [3]:
subway.head()
# RIDE_NUM : 승차 인원!
# ALIGHT_NUM : 하차 인원!

,Unnamed: 0,USE_MON,LINE_NUM,SUB_STA_NM,FOUR_RIDE_NUM,FOUR_ALIGHT_NUM,FIVE_RIDE_NUM,FIVE_ALIGHT_NUM,SIX_RIDE_NUM,SIX_ALIGHT_NUM,...,TWENTY_THREE_ALIGHT_NUM,MIDNIGHT_RIDE_NUM,MIDNIGHT_ALIGHT_NUM,ONE_RIDE_NUM,ONE_ALIGHT_NUM,TWO_RIDE_NUM,TWO_ALIGHT_NUM,THREE_RIDE_NUM,THREE_ALIGHT_NUM,WORK_DT
0,0,201501,공항철도 1호선,서울역,112.0,0.0,6367.0,1242.0,8504.0,13992.0,...,10341.0,16.0,3225.0,0.0,0.0,0.0,0.0,0.0,0.0,20151223
1,1,201501,공항철도 1호선,공덕,15.0,0.0,1034.0,140.0,1859.0,1020.0,...,1972.0,108.0,928.0,0.0,0.0,0.0,0.0,0.0,0.0,20151223
2,2,201501,공항철도 1호선,홍대입구,106.0,2.0,3212.0,276.0,4591.0,1786.0,...,5832.0,892.0,1653.0,1.0,1.0,0.0,0.0,0.0,0.0,20151223
3,3,201501,공항철도 1호선,디지털미디어시티,62.0,0.0,2802.0,646.0,4711.0,6501.0,...,4269.0,810.0,1585.0,0.0,7.0,0.0,0.0,0.0,0.0,20151223
4,4,201501,공항철도 1호선,김포공항,0.0,0.0,1979.0,1500.0,2700.0,8971.0,...,1786.0,299.0,1011.0,2.0,24.0,0.0,0.0,0.0,0.0,20151223

In [4]:
# 필요없는 column drop
# 'Unnamed: 0' : 왜 생긴지 모름, 'WORK_DT : 데이터 작성 시간 -> 의미 없음'
subway.drop('Unnamed: 0', axis=1, inplace=True)
subway.drop('WORK_DT', axis=1, inplace=True)

## subway 년도 : 201501 ~201810까지 존재함!

### 일단 2017년도 데이터만 보고, 전체 데이터를 보도록 하자!

In [5]:
temp = subway[subway["USE_MON"] >= 201701]
subway_2017 = temp[temp["USE_MON"] <= 201712] # 왜 굳이 이렇게? -> 두 조건 한번에 집어 넣으면 ambiguous하다고 오류뜸;;

In [6]:
subway_2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6892 entries, 13361 to 20252
Data columns (total 51 columns):
USE_MON                    6892 non-null int64
LINE_NUM                   6892 non-null object
SUB_STA_NM                 6892 non-null object
FOUR_RIDE_NUM              6892 non-null float64
FOUR_ALIGHT_NUM            6892 non-null float64
FIVE_RIDE_NUM              6892 non-null float64
FIVE_ALIGHT_NUM            6892 non-null float64
SIX_RIDE_NUM               6892 non-null float64
SIX_ALIGHT_NUM             6892 non-null float64
SEVEN_RIDE_NUM             6892 non-null float64
SEVEN_ALIGHT_NUM           6892 non-null float64
EIGHT_RIDE_NUM             6892 non-null float64
EIGHT_ALIGHT_NUM           6892 non-null float64
NINE_RIDE_NUM              6892 non-null float64
NINE_ALIGHT_NUM            6892 non-null float64
TEN_RIDE_NUM               6892 non-null float64
TEN_ALIGHT_NUM             6892 non-null float64
ELEVEN_RIDE_NUM            6892 non-null float64
ELEVEN_ALIGHT_NUM          6892 non-null float64
TWELVE_RIDE_NUM            6892 non-null float64
TWELVE_ALIGHT_NUM          6892 non-null float64
THIRTEEN_RIDE_NUM          6892 non-null float64
THIRTEEN_ALIGHT_NUM        6892 non-null float64
FOURTEEN_RIDE_NUM          6892 non-null float64
FOURTEEN_ALIGHT_NUM        6892 non-null float64
FIFTEEN_RIDE_NUM           6892 non-null float64
FIFTEEN_ALIGHT_NUM         6892 non-null float64
SIXTEEN_RIDE_NUM           6892 non-null float64
SIXTEEN_ALIGHT_NUM         6892 non-null float64
SEVENTEEN_RIDE_NUM         6892 non-null float64
SEVENTEEN_ALIGHT_NUM       6892 non-null float64
EIGHTEEN_RIDE_NUM          6892 non-null float64
EIGHTEEN_ALIGHT_NUM        6892 non-null float64
NINETEEN_RIDE_NUM          6892 non-null float64
NINETEEN_ALIGHT_NUM        6892 non-null float64
TWENTY_RIDE_NUM            6892 non-null float64
TWENTY_ALIGHT_NUM          6892 non-null float64
TWENTY_ONE_RIDE_NUM        6892 non-null float64
TWENTY_ONE_ALIGHT_NUM      6892 non-null float64
TWENTY_TWO_RIDE_NUM        6892 non-null float64
TWENTY_TWO_ALIGHT_NUM      6892 non-null float64
TWENTY_THREE_RIDE_NUM      6892 non-null float64
TWENTY_THREE_ALIGHT_NUM    6892 non-null float64
MIDNIGHT_RIDE_NUM          6892 non-null float64
MIDNIGHT_ALIGHT_NUM        6892 non-null float64
ONE_RIDE_NUM               6892 non-null float64
ONE_ALIGHT_NUM             6892 non-null float64
TWO_RIDE_NUM               6892 non-null float64
TWO_ALIGHT_NUM             6892 non-null float64
THREE_RIDE_NUM             6892 non-null float64
THREE_ALIGHT_NUM           6892 non-null float64
dtypes: float64(48), int64(1), object(2)
memory usage: 2.7+ MB

In [7]:
subway_2017.describe()
# 새벽 1시 이후로는 median : 0,1 됨 -> 고려할까 말까
# 새벽 3시는 max가 1
# 아래에서 value_counts활용해서 자세하게 보자

,USE_MON,FOUR_RIDE_NUM,FOUR_ALIGHT_NUM,FIVE_RIDE_NUM,FIVE_ALIGHT_NUM,SIX_RIDE_NUM,SIX_ALIGHT_NUM,SEVEN_RIDE_NUM,SEVEN_ALIGHT_NUM,EIGHT_RIDE_NUM,...,TWENTY_THREE_RIDE_NUM,TWENTY_THREE_ALIGHT_NUM,MIDNIGHT_RIDE_NUM,MIDNIGHT_ALIGHT_NUM,ONE_RIDE_NUM,ONE_ALIGHT_NUM,TWO_RIDE_NUM,TWO_ALIGHT_NUM,THREE_RIDE_NUM,THREE_ALIGHT_NUM
count,6892.000000,6892.000000,6892.000000,6892.00000,6892.000000,6892.000000,6892.000000,6892.000000,6892.000000,6892.000000,...,6892.000000,6892.000000,6892.000000,6892.000000,6892.000000,6892.000000,6892.000000,6892.000000,6892.000000,6892.000000
mean,201706.536419,194.676727,2.908154,5520.57632,1362.648288,11365.783227,7527.998694,29732.174405,17181.603743,33733.108822,...,6831.741149,11386.788305,893.880006,3694.272780,5.154962,127.495067,0.064713,1.534243,0.001016,0.000725
std,3.460913,614.731326,7.202110,6355.86639,1499.099245,11134.374795,8086.809681,30431.847463,21775.529827,35513.598952,...,12263.720928,12170.409601,1845.979653,4090.091375,47.098243,411.905659,0.594457,13.739596,0.031856,0.026927
min,201701.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,201704.000000,4.000000,0.000000,1555.00000,405.000000,3673.000000,2471.750000,8490.000000,4954.000000,10632.250000,...,1107.250000,3839.250000,109.000000,1180.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,201707.000000,20.000000,0.000000,3692.00000,935.500000,8171.500000,5153.500000,20583.500000,10135.500000,23765.500000,...,2857.000000,8134.500000,316.000000,2559.500000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,201710.000000,107.000000,3.000000,7009.50000,1708.000000,15206.250000,9499.750000,40420.000000,20613.250000,44766.750000,...,7371.750000,14519.000000,953.000000,4780.250000,1.000000,54.000000,0.000000,0.000000,0.000000,0.000000
max,201712.000000,10722.000000,79.000000,57338.00000,13156.000000,88795.000000,69796.000000,270342.000000,216154.000000,378716.000000,...,166496.000000,124732.000000,30737.000000,42588.000000,2805.000000,6407.000000,31.000000,412.000000,1.000000,1.000000

In [8]:
subway_2017.shape

(6892, 51)

In [9]:
subway_2017.columns

Index(['USE_MON', 'LINE_NUM', 'SUB_STA_NM', 'FOUR_RIDE_NUM', 'FOUR_ALIGHT_NUM',
       'FIVE_RIDE_NUM', 'FIVE_ALIGHT_NUM', 'SIX_RIDE_NUM', 'SIX_ALIGHT_NUM',
       'SEVEN_RIDE_NUM', 'SEVEN_ALIGHT_NUM', 'EIGHT_RIDE_NUM',
       'EIGHT_ALIGHT_NUM', 'NINE_RIDE_NUM', 'NINE_ALIGHT_NUM', 'TEN_RIDE_NUM',
       'TEN_ALIGHT_NUM', 'ELEVEN_RIDE_NUM', 'ELEVEN_ALIGHT_NUM',
       'TWELVE_RIDE_NUM', 'TWELVE_ALIGHT_NUM', 'THIRTEEN_RIDE_NUM',
       'THIRTEEN_ALIGHT_NUM', 'FOURTEEN_RIDE_NUM', 'FOURTEEN_ALIGHT_NUM',
       'FIFTEEN_RIDE_NUM', 'FIFTEEN_ALIGHT_NUM', 'SIXTEEN_RIDE_NUM',
       'SIXTEEN_ALIGHT_NUM', 'SEVENTEEN_RIDE_NUM', 'SEVENTEEN_ALIGHT_NUM',
       'EIGHTEEN_RIDE_NUM', 'EIGHTEEN_ALIGHT_NUM', 'NINETEEN_RIDE_NUM',
       'NINETEEN_ALIGHT_NUM', 'TWENTY_RIDE_NUM', 'TWENTY_ALIGHT_NUM',
       'TWENTY_ONE_RIDE_NUM', 'TWENTY_ONE_ALIGHT_NUM', 'TWENTY_TWO_RIDE_NUM',
       'TWENTY_TWO_ALIGHT_NUM', 'TWENTY_THREE_RIDE_NUM',
       'TWENTY_THREE_ALIGHT_NUM', 'MIDNIGHT_RIDE_NUM', 'MIDNIGHT_ALIGHT_NUM',
       'ONE_RIDE_NUM', 'ONE_ALIGHT_NUM', 'TWO_RIDE_NUM', 'TWO_ALIGHT_NUM',
       'THREE_RIDE_NUM', 'THREE_ALIGHT_NUM'],
      dtype='object')

In [80]:
subway_2017['ONE_RIDE_NUM'].value_counts()

0.0      4690
1.0       770
2.0       362
3.0       188
4.0       147
5.0       101
6.0        78
7.0        53
8.0        44
11.0       31
10.0       28
9.0        25
14.0       18
16.0       18
13.0       18
18.0       15
12.0       14
15.0       10
30.0       10
22.0        9
17.0        9
19.0        8
27.0        8
21.0        7
38.0        7
32.0        6
28.0        6
25.0        6
53.0        6
20.0        6
         ...
203.0       1
85.0        1
71.0        1
274.0       1
556.0       1
183.0       1
211.0       1
316.0       1
164.0       1
156.0       1
592.0       1
78.0        1
253.0       1
239.0       1
178.0       1
167.0       1
191.0       1
110.0       1
425.0       1
82.0        1
106.0       1
46.0        1
58.0        1
464.0       1
232.0       1
42.0        1
54.0        1
84.0        1
200.0       1
117.0       1
Name: ONE_RIDE_NUM, Length: 143, dtype: int64

In [75]:
subway_2017['ONE_ALIGHT_NUM'].value_counts().head()

0.0    3379
1.0     421
2.0     172
3.0     125
4.0      83
Name: ONE_ALIGHT_NUM, dtype: int64

In [79]:
subway_2017['TWO_RIDE_NUM'].value_counts()

0.0     6658
1.0      156
2.0       43
3.0       15
4.0        6
7.0        4
11.0       2
5.0        2
8.0        2
6.0        2
31.0       1
16.0       1
Name: TWO_RIDE_NUM, dtype: int64

In [77]:
subway_2017['TWO_ALIGHT_NUM'].value_counts().head()

0.0    6337
1.0     190
2.0      67
3.0      27
5.0      23
Name: TWO_ALIGHT_NUM, dtype: int64

In [70]:
subway_2017['THREE_RIDE_NUM'].value_counts()

0.0    6885
1.0       7
Name: THREE_RIDE_NUM, dtype: int64

In [84]:
subway_2017['THREE_ALIGHT_NUM'].value_counts()

0.0    6887
1.0       5
Name: THREE_ALIGHT_NUM, dtype: int64

# 2017 1월의

In [10]:
subway_2017.to_csv("subway_2017.csv")