In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
np.random.seed(12345)
np.set_printoptions(precision=4, suppress=True)

import matplotlib
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))

In [2]:
# matplotlib 한글 문제 해결 코드
%matplotlib inline
from matplotlib import font_manager, rc
import platform

if platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname="C:/Windows/Fonts/malgun.ttf").get_name()
    rc('font', family = font_name)
    
else:
    rc('font', family = "AppleGothic")
    
matplotlib.rcParams['axes.unicode_minus'] = False

In [ ]:
#linux cat ex1.csv 
# !type : 도스 명령임
!type examples/ex1.csv # 파일 보는 법!

In [4]:
!pip install tqdm

Requirement already satisfied: tqdm in c:\users\playdata\appdata\local\conda\conda\envs\py36\lib\site-packages (4.26.0)

In [5]:
from tqdm import trange

In [6]:
import time

In [7]:
for i in trange(100):
    time.sleep(0.1)

100%|████████████████████████████████████████████████████████████████████████████████| 100/100 [00:10<00:00,  9.63it/s]

In [8]:
for i in range(100):
    time.sleep(0.1)

In [10]:
df = pd.read_csv('examples/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
pd.read_table('ex1.csv', sep=',') # separator 설정해야 해!

In [12]:
df = pd.read_csv('examples/ex2.csv', header = None)
df

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [13]:
df = pd.read_csv("examples/ex2.csv", header = None, names = ['a', 'b', 'c','d', 'message'])
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo